<table>
    <tr>
        <th><?php echo __('Id'); ?></th>
        <th><?php echo __('Title'); ?></th>
        <th><?php echo __('Author'); ?></th>
        <th><?php echo __('Total Pages'); ?></th>
        <th></th>
        <th></th>
    </tr>
    <?php
    /** @var Encomage\Book\Block\Index $block */
    foreach ($block->getResult() as $item):
        ?>
        <tr>
            <td>
                <?php echo $item->getId(); ?>
            </td>
            <td>
                <?php echo $item->getTitle(); ?>
            </td>
            <td>
                <?php echo $item->getAuthor(); ?>
            </td>
            <td>
                <?php echo $item->getTotalPages(); ?>
            </td>
            <td>
                <a class="action primary" href="<?php echo($block->getEditUrl($item->getId())); ?>"><?php echo __('Edit book'); ?></a>
            </td>
            <td>
                <a class="action primary" href="<?php echo($block->getDeleteUrl($item->getId())); ?>"><?php echo __('Delete book'); ?></a>
            </td>
        </tr>
    <?php endforeach; ?>
</table>
<br>
<a class="action primary" href="<?php echo $block->getInsertUrl(); ?>"><?php echo __('Add new book'); ?></a>
